.button {
    padding: 1.25rem 1.875rem;
    background-color: $button-color;
    text-decoration: none;
    border-radius: 50px;
    display: inline-block;
    color: white;
    font-family: $title-font;
    font-size: $body-font-size;
    transition: transform 450ms ease-in-out,
        background-color 300ms 150ms ease-in-out;

    &:hover {
        background-color: $button-color-hover;
        transform: scale(1.1) translateY(-10px);
        cursor: pointer;
    }
}
