.a-propos {
    background-color: $dark-purple;
    padding: 2.5rem;

    &__title {
        @extend .headers1;
        text-align: center;
    }

    &__border {
        border-right: $border;
        border-bottom: $border;
        padding-bottom: 1.875rem;
        @media screen and (min-width: 1024px) {
            max-width: 800px;
            margin: auto;
        }
    }

    &__paragraphe {
        margin-top: 3.125rem;
        margin-bottom: 1.875rem;
    }

    &__services {
        @include titleh2;
        color: $body-text-color;
        margin-bottom: 1.875rem;
    }

    &__btnPortfolio {
        text-align: center;
        margin-top: 4.375rem;
        margin-bottom: 4.375rem;

        a {
            @extend .button;
        }
    }
}
