@use "./main" as *;
 
@include header;

.photographie {
    background-color: $dark-purple;
    @include flex($direction: column);
    padding: 2.5rem;

    &__title {
        @include titleh1;
        margin: 2.5rem 0 2rem 0;
    }

    a {
        @include button;
        margin-top: 2.5rem;
    }
}

.dernierProjet {
    @include flex($direction: column);
    padding: 2.5rem;

    &__titre {
        @include titleh2($dark-purple);
        text-align: center;
        margin-bottom: 2.5rem;
    }

    &__blocimg {
        @include flex($direction: column);
        gap: 1.25rem;
    }

    &__btnPortfolio {
        @include button;
        margin: auto;
        margin-top: 3.125rem;
        margin-bottom: 3.125rem;
    }
}

.parlons {
    background-color: $dark-purple;
    padding: 3.125rem;

    &__title {
        @include titleh2;
        text-align: center;
        margin-bottom: 2.5rem;
    }

    .form {
        @include flex($direction: column);
        align-items: center;

        label {
            margin-bottom: 1rem;
        }

        &__nomEmail {
            @include flex($direction: column);
            width: 100%;
            height: 100%;
            margin-bottom: 1.5rem;

            input {
                font-size: 1.5rem;
            }
        }

        &__message {
            @include flex($direction: column);
            width: 100%;
            height: 100%;


            textarea {
                font-size: 1.5rem;
                font-family: $body-font;
            }
        }

        &__btnSubmit {
            @include button;
            margin-top: 2.5rem;
            border: none;
        }

    }
}

@include footer;