@use "./main" as *;

@include header;

.photographie {
    background-color: $dark-purple;
    @include flex($direction: column);
    padding: 2.5rem;

    .photographieContainer {
        @include flex($direction: column);

        @media screen and (min-width: 1024px) {
            flex-direction: row;
            padding: 100px 0 100px 0;
            max-width: 1400px;
            margin: auto;
            gap: 150px;

            > img {
                order: 1;
                width: 419px;
                height: 425px;
            }

            > div {
                width: 380px;
            }
        }

        &__title {
            @include titleh1;
            margin: 2.5rem 0 2rem 0;
            @media screen and (min-width: 1024px) {
                font-size: 3.438rem;
            }
        }

        a {
            @include button;
            margin-top: 2.5rem;
        }
    }
}

.dernierProjet {
    @include flex($direction: column);
    padding: 2.5rem;

    &__titre {
        @include titleh2($dark-purple);
        text-align: center;
        margin-bottom: 2.5rem;
    }

    &__blocimg {
        @include flex($direction: column);
        gap: 1.25rem;

        @media screen and (min-width: 1024px) {
            display: grid;
            grid: 350px 350px / 350px 350px 350px;
            margin: auto;

            @media screen and (max-width: 1170px) {
                grid: 300px 300px / 300px 300px 300px;
            }

            &:target {
                transform: scale(1.3);
            }

            .clickImage {
                transition: all 200ms ease-in-out;
                transform: scale(1.5);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 200ms ease-in-out;
                cursor: pointer;
            }
        }
    }

    &__btnPortfolio {
        @include button;
        margin: auto;
        margin-top: 3.125rem;
        margin-bottom: 3.125rem;
    }
}

.parlons {
    background-color: $dark-purple;
    padding: 3.125rem;

    @media screen and (min-width: 1024px) {
        @include flex($direction: column);
        align-items: center;
    }

    &__title {
        @include titleh2;
        text-align: center;
        margin-bottom: 2.5rem;

        @media screen and (min-width: 1024px) {
            font-size: 2.188rem;
        }
    }

    .form {
        @include flex($direction: column);
        align-items: center;

        @media screen and (min-width: 1024px) {
            width: 100%;
            height: 100%;
            max-width: 32.813rem;
        }

        label {
            margin-bottom: 1rem;
        }

        &__nomEmail {
            @include flex($direction: column);
            width: 100%;
            height: 100%;
            margin-bottom: 1.5rem;

            input {
                font-size: 1.5rem;
                border-radius: 10px;
                border: none;
                transition: background-color 200ms;
                padding: 4px;

                &:focus {
                    outline: none;
                    border: 2px solid $light-purple-title;
                    padding: 2px;
                }
            }

            .invalid {
                background-color: red;
                color: white;
            }
        }

        &__message {
            @include flex($direction: column);
            width: 100%;
            height: 100%;

            textarea {
                font-size: 1.5rem;
                font-family: $body-font;
                border-radius: 10px;
                border: none;
                padding: 4px;

                &:focus {
                    outline: none;
                    border: 2px solid $light-purple-title;
                    padding: 2px;
                }
            }
        }

        &__btnSubmit {
            @include button;
            margin-top: 2.5rem;
            border: none;
        }
    }
}

@include footer;
