@use "./main" as *;

@include header;

@mixin titleBlack {
    @include titleh2;
    color: black;
    margin-bottom: 2.5rem;
}

.portfolio {
    background-color: $dark-purple;
    padding: 4.375rem 0 3.125rem 1.875rem;

    &__title {
        @include titleh1;
    }
}

.paysages {
    padding: 2.5rem;

    &__title {
        @include titleBlack;
    }

    &__blocimg {
        @include flex($direction: column);
        gap: 1.25rem;
    }
}

.portraits {
    padding: 0 2.5rem 2.5rem 2.5rem;

    &__title {
        @include titleBlack;
    }

    &__blocimg {
        @include flex($direction: column);
        gap: 1.25rem;
    }
}

@include footer;