@mixin flex($direction: row) {
    display: flex;
    flex-direction: $direction;
}

@mixin titleh2($color: $light-purple-title) {
    color: $color;
    font-family: $title-font;
    font-size: $h2-font-size;
    font-weight: $h2-font-weight;
}

@mixin titleBlack {
    @include titleh2;
    color: black;
    margin-bottom: 2.5rem;
}
