// color
$white: #ffffff;
$dark-purple: #1f2039;
$light-purple-title: #a5b4fc;
$button-color: #8e86b5;
$button-color-hover: #696484;
// $button-color: linear-gradient(#8e86b5, #acaeed);
// $button-color-hover: linear-gradient(#696484, #8788ba);

// text config
$title-font: "Montserrat", sans-serif;
$body-font: "Manrope", sans-serif;

$body-font-size: 1.25rem;
$h1-font-size: 1.875rem;
$h2-font-size: 1.688rem;

$h1-font-weight: 400;
$h2-font-weight: 400;
$body-font-weight: 400;

$title-text-color: $light-purple-title;
$header-text-color: black;
$body-text-color: #f9f8ff;

// other
$border: 0.06rem solid $light-purple-title;
