* {
  margin: 0;
}
* body {
  font-family: "Manrope", sans-serif;
  background-color: #ffffff;
  font-size: 1.25rem;
  color: #f9f8ff;
  font-weight: 400;
}

.header__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .header__nav {
    flex-direction: row;
    gap: 9.375rem;
    padding-right: 3.125rem;
  }
}
.footer__social-net {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .footer__social-net {
    flex-direction: row;
    gap: 3.125rem;
    padding-right: 3.125rem;
  }
}
.footer-header, .header, .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .footer-header, .header, .footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer-header__logo, .header__logo, .footer__logo {
  margin-bottom: 4.5rem;
}
@media screen and (min-width: 1024px) {
  .footer-header__logo, .header__logo, .footer__logo {
    margin: 0;
    padding-left: 2.5rem;
  }
}
.footer-header_a, .header__nav_a, .footer__social-net_a {
  text-decoration: none;
  margin-bottom: 1.5rem;
  color: black;
}
@media screen and (min-width: 1024px) {
  .footer-header_a, .header__nav_a, .footer__social-net_a {
    margin-bottom: 0;
  }
}

.photographie {
  background-color: #1f2039;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
}
@media screen and (min-width: 1024px) {
  .photographie__image {
    order: 2;
    width: 419px;
    height: 425px;
  }
  .photographie__bloc-text {
    width: 380px;
  }
}
.photographie__headers {
  margin: 2.5rem 0 2rem 0;
}
@media screen and (min-width: 1024px) {
  .photographie__headers {
    font-size: 3.438rem;
  }
}
.photographie__btn {
  margin-top: 2.5rem;
}

.photographie-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .photographie-container {
    flex-direction: row;
    padding: 100px 0 100px 0;
    max-width: 1400px;
    margin: auto;
    gap: 150px;
  }
}

.dernier-projet {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
}
.dernier-projet__headers {
  color: #1f2039;
  font-family: "Montserrat", sans-serif;
  font-size: 1.688rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2.5rem;
}
.dernier-projet__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.dernier-projet__btn {
  margin: auto;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
}

.dernier-projet-img-contenair {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
@media screen and (min-width: 1024px) {
  .dernier-projet-img-contenair {
    display: grid;
    grid: 350px 350px/350px 350px 350px;
    margin: auto;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1170px) {
  .dernier-projet-img-contenair {
    grid: 300px 300px/300px 300px 300px;
  }
}
@media screen and (min-width: 1024px) {
  .dernier-projet-img-contenair:target {
    transform: scale(1.3);
  }
  .dernier-projet-img-contenair .clickImage {
    transition: all 200ms ease-in-out;
    transform: scale(1.5);
  }
}

.parlons {
  background-color: #1f2039;
  padding: 3.125rem;
}
@media screen and (min-width: 1024px) {
  .parlons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.parlons__headers {
  color: #a5b4fc;
  font-family: "Montserrat", sans-serif;
  font-size: 1.688rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 1024px) {
  .parlons__headers {
    font-size: 2.188rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .form {
    width: 100%;
    height: 100%;
    max-width: 32.813rem;
  }
}
.form__label {
  margin-bottom: 1rem;
}
.form__nom-email-contenair {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-bottom: 1.5rem;
}
.form__nom-email-contenair__input {
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  transition: background-color 200ms;
  padding: 4px;
}
.form__nom-email-contenair__input:focus {
  outline: none;
  border: 2px solid #a5b4fc;
  padding: 2px;
}
.form__nom-email-contenair .invalid {
  background-color: red;
  color: white;
}
.form__message-contenair {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.form__message-contenair__textarea {
  font-size: 1.5rem;
  font-family: "Manrope", sans-serif;
  border-radius: 10px;
  border: none;
  padding: 4px;
}
.form__message-contenair__textarea:focus {
  outline: none;
  border: 2px solid #a5b4fc;
  padding: 2px;
}
.form__btnSubmit {
  margin-top: 2.5rem;
  border: none;
}

.a-propos {
  background-color: #1f2039;
  padding: 2.5rem;
}
.a-propos__title {
  text-align: center;
}
.a-propos__border {
  border-right: 0.06rem solid #a5b4fc;
  border-bottom: 0.06rem solid #a5b4fc;
  padding-bottom: 1.875rem;
}
@media screen and (min-width: 1024px) {
  .a-propos__border {
    max-width: 800px;
    margin: auto;
  }
}
.a-propos__paragraphe {
  margin-top: 3.125rem;
  margin-bottom: 1.875rem;
}
.a-propos__services {
  color: #a5b4fc;
  font-family: "Montserrat", sans-serif;
  font-size: 1.688rem;
  font-weight: 400;
  color: #f9f8ff;
  margin-bottom: 1.875rem;
}
.a-propos__btnPortfolio {
  text-align: center;
  margin-top: 4.375rem;
  margin-bottom: 4.375rem;
}
.button, .photographie__btn, .dernier-projet__btn, .form__btnSubmit, .a-propos__btnPortfolio a {
  padding: 1.25rem 1.875rem;
  background-color: #8e86b5;
  text-decoration: none;
  border-radius: 50px;
  display: inline-block;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  transition: transform 450ms ease-in-out, background-color 300ms 150ms ease-in-out;
}
.button:hover, .photographie__btn:hover, .dernier-projet__btn:hover, .form__btnSubmit:hover, .a-propos__btnPortfolio a:hover {
  background-color: #696484;
  transform: scale(1.1);
  cursor: pointer;
}

.headers1, .photographie__headers, .a-propos__title {
  color: #a5b4fc;
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: 400;
}

/*# sourceMappingURL=styles.css.map */
