@import url("https: //fonts.googleapis.com/css2?family=Manrope&family=Montserrat&display=swap");
* {
  margin: 0;
}
* body {
  font-family: "Manrope", sans-serif;
  background-color: #FFFFFF;
  font-size: 1.25rem;
  color: #F9F8FF;
  font-weight: 400;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}
.header a {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .header a {
    margin-bottom: 0;
  }
}
.header > a {
  margin-bottom: 3rem;
}
@media screen and (min-width: 1024px) {
  .header > a {
    margin: 0;
    padding-left: 2.5rem;
  }
}
.header__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .header__nav {
    flex-direction: row;
    align-items: center;
    gap: 9.375rem;
    padding-right: 3.125rem;
  }
}
.header__nav a {
  text-decoration: none;
  color: black;
}

.photographie {
  background-color: #1F2039;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
}
.photographie__title {
  color: #A5B4FC;
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: 400;
  margin: 2.5rem 0 2rem 0;
}
.photographie a {
  padding: 1.25rem 1.875rem;
  background: linear-gradient(#8E86B5, #ACAEED);
  text-decoration: none;
  border-radius: 50px;
  display: inline-block;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  margin-top: 2.5rem;
}
.photographie a:hover {
  background: linear-gradient(#696484, #8788BA);
}

.dernierProjet {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
}
.dernierProjet__titre {
  color: #1F2039;
  font-family: "Montserrat", sans-serif;
  font-size: 1.688rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2.5rem;
}
.dernierProjet__blocimg {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.dernierProjet__btnPortfolio {
  padding: 1.25rem 1.875rem;
  background: linear-gradient(#8E86B5, #ACAEED);
  text-decoration: none;
  border-radius: 50px;
  display: inline-block;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  margin: auto;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
}
.dernierProjet__btnPortfolio:hover {
  background: linear-gradient(#696484, #8788BA);
}

.parlons {
  background-color: #1F2039;
  padding: 3.125rem;
}
.parlons__title {
  color: #A5B4FC;
  font-family: "Montserrat", sans-serif;
  font-size: 1.688rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2.5rem;
}
.parlons .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.parlons .form label {
  margin-bottom: 1rem;
}
.parlons .form__nomEmail {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-bottom: 1.5rem;
}
.parlons .form__nomEmail input {
  font-size: 1.5rem;
}
.parlons .form__message {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.parlons .form__message textarea {
  font-size: 1.5rem;
  font-family: "Manrope", sans-serif;
}
.parlons .form__btnSubmit {
  padding: 1.25rem 1.875rem;
  background: linear-gradient(#8E86B5, #ACAEED);
  text-decoration: none;
  border-radius: 50px;
  display: inline-block;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  margin-top: 2.5rem;
  border: none;
}
.parlons .form__btnSubmit:hover {
  background: linear-gradient(#696484, #8788BA);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer a {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .footer a {
    margin-bottom: 0;
  }
}
.footer > a {
  margin-bottom: 3rem;
}
@media screen and (min-width: 1024px) {
  .footer > a {
    margin: 0;
    padding-left: 2.5rem;
  }
}
.footer__socialNet {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .footer__socialNet {
    flex-direction: row;
    gap: 3.125rem;
    padding-right: 3.125rem;
  }
}

/*# sourceMappingURL=accueil.css.map */
